.main {
	background-color: white;
	/* border: solid 1px black; */
	box-shadow: 0 0 10px rgb(181, 181, 181);
	height: 100%;
	border-radius: 10px;
}

.main>header {
	/* border-bottom: solid 1px black; */
	box-shadow: 0 5px 5px rgb(200, 200, 200);
}

.main>header>button:first-child {
	border-top-left-radius: 10px;
}

.main>header>button:last-child {
	border-top-right-radius: 10px;
}

.main>header>button:not(.selected):hover {
	filter: brightness(90%);
}

.selected {
	filter: brightness(90%);
}